In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc

In [13]:
EEG_df = pd.read_csv('P300.csv')
EEG_df.head()

,subject,trial,condition,group,F1_P300,FC3_P300,FC1_P300,AFz_P300,Fz_P300,F2_P300,FCz_P300
0,1,1,1,0,13.9836,15.0689,15.5019,15.9091,9.5313,7.4203,11.3167
1,1,2,1,0,31.0895,39.5852,33.1532,20.3352,28.2222,32.9192,34.6021
2,1,3,1,0,21.0610,22.0997,20.7909,15.9415,27.4982,27.6248,23.9452
3,1,4,1,0,23.6089,25.5625,34.2806,24.7410,27.8989,23.7729,30.4638
4,1,5,1,0,7.4142,13.6209,5.7112,10.4210,6.1201,8.9196,5.1835

In [14]:
col_names = EEG_df.columns.values
X = EEG_df[col_names[0:]]
Y = EEG_df[col_names[2:4]]

In [15]:
X = X.drop(['subject','trial'], axis=1)
X.head(5)

,condition,group,F1_P300,FC3_P300,FC1_P300,AFz_P300,Fz_P300,F2_P300,FCz_P300
0,1,0,13.9836,15.0689,15.5019,15.9091,9.5313,7.4203,11.3167
1,1,0,31.0895,39.5852,33.1532,20.3352,28.2222,32.9192,34.6021
2,1,0,21.0610,22.0997,20.7909,15.9415,27.4982,27.6248,23.9452
3,1,0,23.6089,25.5625,34.2806,24.7410,27.8989,23.7729,30.4638
4,1,0,7.4142,13.6209,5.7112,10.4210,6.1201,8.9196,5.1835

In [17]:
X_condition1=X[X['condition']==1]
X_condition1=X_condition1.drop(['condition','group'],axis=1)
X_condition2=X[X['condition']==2]
X_condition2=X_condition2.drop(['condition','group'],axis=1)
X_condition3=X[X['condition']==3]
X_condition3=X_condition3.drop(['condition','group'],axis=1)

X_condition1.head(5)

   F1_P300  FC3_P300  FC1_P300  AFz_P300  Fz_P300  F2_P300  FCz_P300
0  13.9836   15.0689   15.5019   15.9091   9.5313   7.4203   11.3167
1  31.0895   39.5852   33.1532   20.3352  28.2222  32.9192   34.6021
2  21.0610   22.0997   20.7909   15.9415  27.4982  27.6248   23.9452
3  23.6089   25.5625   34.2806   24.7410  27.8989  23.7729   30.4638
4   7.4142   13.6209    5.7112   10.4210   6.1201   8.9196    5.1835

In [18]:
Y_condition1=Y[Y['condition']==1]
Y_condition1=Y_condition1.drop('condition',axis=1)
Y_condition2=Y[Y['condition']==2]
Y_condition2=Y_condition2.drop('condition',axis=1)
Y_condition3=Y[Y['condition']==3]
Y_condition3=Y_condition3.drop('condition',axis=1)

Y_condition1.head(5)

   group
0      0
1      0
2      0
3      0
4      0

In [19]:
X_condition1_123 = X_condition1[['F1_P300','FC3_P300','FC1_P300']]
X_condition1_123.head(5)

   F1_P300  FC3_P300  FC1_P300
0  13.9836   15.0689   15.5019
1  31.0895   39.5852   33.1532
2  21.0610   22.0997   20.7909
3  23.6089   25.5625   34.2806
4   7.4142   13.6209    5.7112

In [23]:
X_condition1_124 = X_condition1[['F1_P300','FC3_P300','AFz_P300']]
X_condition1_124.head(5)

   F1_P300  FC3_P300  AFz_P300
0  13.9836   15.0689   15.9091
1  31.0895   39.5852   20.3352
2  21.0610   22.0997   15.9415
3  23.6089   25.5625   24.7410
4   7.4142   13.6209   10.4210

In [24]:
X_condition1_125 = X_condition1[['F1_P300','FC3_P300','Fz_P300']]
X_condition1_125.head(5)

   F1_P300  FC3_P300  Fz_P300
0  13.9836   15.0689   9.5313
1  31.0895   39.5852  28.2222
2  21.0610   22.0997  27.4982
3  23.6089   25.5625  27.8989
4   7.4142   13.6209   6.1201

In [25]:
X_condition1_126 = X_condition1[['F1_P300','FC3_P300','F2_P300']]
X_condition1_126.head(5)

   F1_P300  FC3_P300  F2_P300
0  13.9836   15.0689   7.4203
1  31.0895   39.5852  32.9192
2  21.0610   22.0997  27.6248
3  23.6089   25.5625  23.7729
4   7.4142   13.6209   8.9196

In [26]:
X_condition1_127 = X_condition1[['F1_P300','FC3_P300','FCz_P300']]
X_condition1_127.head(5)

   F1_P300  FC3_P300  FCz_P300
0  13.9836   15.0689   11.3167
1  31.0895   39.5852   34.6021
2  21.0610   22.0997   23.9452
3  23.6089   25.5625   30.4638
4   7.4142   13.6209    5.1835

In [27]:
X_condition1_134 = X_condition1[['F1_P300','FC1_P300','AFz_P300']]
X_condition1_134.head(5)

   F1_P300  FC1_P300  AFz_P300
0  13.9836   15.5019   15.9091
1  31.0895   33.1532   20.3352
2  21.0610   20.7909   15.9415
3  23.6089   34.2806   24.7410
4   7.4142    5.7112   10.4210

In [28]:
X_condition1_135 = X_condition1[['F1_P300','FC1_P300','Fz_P300']]
X_condition1_135.head(5)

   F1_P300  FC1_P300  Fz_P300
0  13.9836   15.5019   9.5313
1  31.0895   33.1532  28.2222
2  21.0610   20.7909  27.4982
3  23.6089   34.2806  27.8989
4   7.4142    5.7112   6.1201

In [29]:
X_condition1_136 = X_condition1[['F1_P300','FC1_P300','F2_P300']]
X_condition1_136.head(5)

   F1_P300  FC1_P300  F2_P300
0  13.9836   15.5019   7.4203
1  31.0895   33.1532  32.9192
2  21.0610   20.7909  27.6248
3  23.6089   34.2806  23.7729
4   7.4142    5.7112   8.9196

In [30]:
X_condition1_137 = X_condition1[['F1_P300','FC1_P300','FCz_P300']]
X_condition1_137.head(5)

   F1_P300  FC1_P300  FCz_P300
0  13.9836   15.5019   11.3167
1  31.0895   33.1532   34.6021
2  21.0610   20.7909   23.9452
3  23.6089   34.2806   30.4638
4   7.4142    5.7112    5.1835

In [31]:
X_condition1_145 = X_condition1[['F1_P300','AFz_P300','Fz_P300']]
X_condition1_145.head(5)

   F1_P300  AFz_P300  Fz_P300
0  13.9836   15.9091   9.5313
1  31.0895   20.3352  28.2222
2  21.0610   15.9415  27.4982
3  23.6089   24.7410  27.8989
4   7.4142   10.4210   6.1201

In [78]:
X_condition1_146 = X_condition1[['F1_P300','AFz_P300','F2_P300']]
X_condition1_146.head(5)

   F1_P300  AFz_P300  F2_P300
0  13.9836   15.9091   7.4203
1  31.0895   20.3352  32.9192
2  21.0610   15.9415  27.6248
3  23.6089   24.7410  23.7729
4   7.4142   10.4210   8.9196

In [79]:
X_condition1_147 = X_condition1[['F1_P300','AFz_P300','FCz_P300']]
X_condition1_147.head(5)

   F1_P300  AFz_P300  FCz_P300
0  13.9836   15.9091   11.3167
1  31.0895   20.3352   34.6021
2  21.0610   15.9415   23.9452
3  23.6089   24.7410   30.4638
4   7.4142   10.4210    5.1835

In [80]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [81]:
def train_val_test_split(X, Y, test_size=0.3, random_state=123):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                        test_size=test_size, 
                                                        random_state=random_state)
   
    return X_train, X_test, Y_train, Y_test

In [84]:
X_condition1_train, X_condition1_test, Y_condition1_train, Y_condition1_test = train_val_test_split(X_condition1_147, Y_condition1,
                                                                      
                                                                      test_size=0.3,
                                                                      random_state=123)

In [85]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#147

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6035729476818376, {'C': 0.1, 'penalty': 'l2'}, 0.6035253820557598)

In [83]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#146

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.603998298596342, {'C': 0.1, 'penalty': 'l2'}, 0.6032215340067791)

In [68]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#145

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.603998298596342, {'C': 0.1, 'penalty': 'l2'}, 0.6035252269125129)

In [66]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#137

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.603998298596342, {'C': 0.1, 'penalty': 'l2'}, 0.6041325351523568)

In [64]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#136

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6044236495108465, {'C': 0.1, 'penalty': 'l2'}, 0.6048618635558584)

In [62]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#135

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.604849000425351, {'C': 0.1, 'penalty': 'l2'}, 0.6040717965712101)

In [60]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#134

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.604849000425351, {'C': 0.1, 'penalty': 'l2'}, 0.6036463937883126)

In [58]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#127

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6052743513398554, {'C': 0.1, 'penalty': 'l2'}, 0.6049223694221348)

In [56]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#126

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6061250531688643, {'C': 0.1, 'penalty': 'l2'}, 0.6055904162431256)

In [54]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#125

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6065504040833688, {'C': 0.1, 'penalty': 'l2'}, 0.6052258296129983)

In [51]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#124

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6065504040833688, {'C': 0.1, 'penalty': 'l2'}, 0.6032209910054152)

In [49]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) #tol,intercept_scaling, class_weight, random_state
param_grid = {'penalty': ['l2'],
'C': [0.1, 1, 10, 1e2, 1e3, 1e4, 1e5, 1e6]}
grid = GridSearchCV(LogisticRegression(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(X_condition1_train, Y_condition1_train.values.ravel())
grid.score(X_condition1_test, Y_condition1_test), grid.best_params_, grid.best_score_
#123

C:\Python\lib\site-packages\sklearn\model_selection\_search.py:825: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

(0.6061250531688643, {'C': 0.1, 'penalty': 'l2'}, 0.6052256744697514)